name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: # Default permissions restricted to read
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    permissions:
      contents: read
      checks: write
    strategy:
      matrix:
        java: [17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'

      - name: clean and build
        run: ./gradlew clean build -Plog-tests

  build-docs:
    runs-on: ubuntu-latest
    name: Test Documentation Build
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 17
          distribution: 'corretto'

      - name: Set up Python 3.x
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      - name: clean and build
        run: ./gradlew clean build -Plog-tests

      - name: Upload built plain markdown test docs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: plain-markdown-docs
          path: smithy-docgen-test/build/smithyprojections/smithy-docgen-test/plain-markdown/docgen

      - name: Upload built sphinx markdown test docs
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sphinx-markdown-docs
          path: |
            smithy-docgen-test/build/smithyprojections/smithy-docgen-test/sphinx-markdown/docgen
            !smithy-docgen-test/build/smithyprojections/smithy-docgen-test/sphinx-markdown/docgen/venv
