name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: # Default permissions restricted to read
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    permissions:
      contents: read
      checks: write
    strategy:
      matrix:
        java: [17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: gradle/wrapper-validation-action@f9c9c575b8b21b6485636a91ffecd10e558c62f6 # v3.5.0

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'

      - name: clean and build
        run: ./gradlew clean build -Plog-tests

  build-docs:
    runs-on: ubuntu-latest
    name: Test Documentation Build
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
        with:
          java-version: 17
          distribution: 'corretto'

      - name: Set up Python 3.x
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.x'

      - name: clean and build
        run: ./gradlew clean build -Plog-tests

      - name: Upload built plain markdown test docs
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: plain-markdown-docs
          path: smithy-docgen-test/build/smithyprojections/smithy-docgen-test/plain-markdown/docgen

      - name: Upload built sphinx markdown test docs
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: sphinx-markdown-docs
          path: |
            smithy-docgen-test/build/smithyprojections/smithy-docgen-test/sphinx-markdown/docgen
            !smithy-docgen-test/build/smithyprojections/smithy-docgen-test/sphinx-markdown/docgen/venv
